body {
	margin: 0;
}
.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	padding: 20px;
}

.auth-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
	max-width: 600px;
	margin: 0 auto;
}

.auth-header {
	background: none;
	padding: 0 0 16px 0;
	text-align: center;
}

.auth-header h1 {
	font-size: 28px;
	font-weight: 600;
	color: var(--text);
	text-align: center;
	margin: 0;
	padding: 0;
}

.auth-header p {
	color: var(--muted);
	font-size: 16px;
}

.auth-card {
	width: 600px;
	background: var(--card);
	border-radius: 12px;
	border: light-dark(#ddd, #222) 1px solid;
	padding: 32px;
	margin: 20px 0;
}

.auth-group {
	margin-bottom: 24px;
}

.form-label {
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: var(--text);
	margin: 12px 0 4px 0;
	text-transform: uppercase;
}

.form-input {
	width: 100%;
	height: 41px;
	padding: 8px 16px;
	border: none;
	border-radius: 20em;
	font-size: 16px;
	transition: all 0.2s;
	background: light-dark(#dbdbdb, #2a2a2a);
}

.form-input:focus {
	outline: none;
}

.form-help {
	font-size: 14px;
	color: var(--muted);
	margin-top: 4px;
}

.form-actions {
	display: flex;
	gap: 12px;
	justify-content: center;
	margin-top: 16px;
}

@media (max-width: 600px) {
	.sidebar {
		display: none;
	}
	.main-content {
		margin-left: 0;
	}
	.auth-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 900px;
	}
	.form-actions {
		flex-direction: column;
	}
	.register-link {
		display: inline-block;
	}
}

.translate-btn {
	bottom: 30px;
}

.not-registered {
	text-align: center;
	margin-top: 0;
}

.not-registered p {
	color: var(--muted);
}

.register-link {
	color: var(--text);
	text-decoration: none;
	font-weight: 500;
}

/* Firebase Auth UI Styling */
#firebaseui-auth-container {
	min-width: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
}

.firebaseui-page-provider-sign-in,
.firebaseui-page-select-tenant {
	margin: 0;
	background: inherit;
	width: 100%;
	min-width: 100%;
	display: flex;
	flex-direction: column;
}

.firebaseui-card-content,
.firebaseui-card-footer {
	padding: 0;
	width: 100%;
}

.firebaseui-card-content form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.firebaseui-idp-list,
.firebaseui-tenant-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.firebaseui-idp-list > .firebaseui-list-item,
.firebaseui-tenant-list > .firebaseui-list-item {
	margin-bottom: 12px;
	text-align: center;
}

.firebaseui-idp-button,
.firebaseui-tenant-button {
	direction: ltr;
	font-weight: 500;
	height: fit-content;
	line-height: normal;
	max-width: fit-content;
	min-height: fit-content;
	padding: 8px;
	display: flex;
	text-align: left;
	gap: 8px;
	width: fit-content;
	align-items: center;
	justify-content: space-between;
}

.firebaseui-idp-icon-wrapper {
	width: fit-content;
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.firebaseui-idp-text {
	width: 100%;
	color: #fff;
	display: table-cell;
	font-size: 12px;
	padding-left: 0;
	line-height: 1.1;
	text-transform: none;
	vertical-align: middle;
	margin: 0;
}

.firebaseui-idp-icon {
	border: none;
	display: inline-block;
	height: 28px;
	vertical-align: middle;
	width: 28px;
}

.divider {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 24px 0 0 0;
	color: var(--muted);
}

.divider::before,
.divider::after {
	content: "";
	flex: 1;
	border-bottom: 1px solid light-dark(#ddd, #333);
}

.divider span {
	padding: 0 16px;
	font-size: 14px;
}

/* Flash Message Styling */
.flash-message {
	display: flex;
	align-items: center;
	justify-content: center;
	color: light-dark(#dc3545, #ffd2d2);
	text-align: center;
	padding: 12px;
	background: light-dark(#ffd2d2, #dc3545);
	border-radius: 20em;
	font-size: 14px;
	font-weight: 500;
}

.flash-message.success {
	color: light-dark(#008b27, #003b0c);
	background: light-dark(#acffbc, #35dc64);
}
