/* Main Content */
.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	padding: 20px 0;
	width: 100%;
}

/* Post Card (Feed Style) */
.post-card {
	background: var(--card);
	border-radius: 2px;
	border: 1px solid light-dark(#d4d4d4, #222);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	margin-top: 24px;
	overflow: hidden;
	width: 100%;
	max-width: 600px;
}
.post-card .post-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 8px 12px;
	border-bottom: 1px solid light-dark(#d4d4d4, #222);
}

.user-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
}

.post-avatar {
	width: 40px;
	height: 40px;
	border-radius: 2px;
	background: var(--accent);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--card);
	font-size: 24px;
	font-weight: 800;
}
.post-avatar-link:hover .post-avatar {
	filter: brightness(0.95);
}
.post-user-info {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}
.post-username {
	font-size: 22px;
	font-weight: 600;
	color: var(--text);
	text-transform: capitalize;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.post-username:hover {
	text-decoration: underline;
}

.post-username svg {
	width: 20px;
}

.post-user-email {
	font-size: 16px;
	color: light-dark(#4f4f4f, #bababa);
}
.post-actions {
	display: flex;
	gap: 8px;
}
.action-btn {
	background: none;
	border: none;
	padding: 0;
	border-radius: 0.2em;
	cursor: pointer;
	transition: all 0.2s;
}
.post-card .post-image {
	width: 100%;
	max-height: 400px;
	object-fit: cover;
}
.post-content {
	padding: 8px 12px;
}
.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.post-title {
	font-size: 18px;
	font-weight: 600;
	color: var(--text);
	text-transform: uppercase;
}
.promoted-tag {
	font-size: 12px;
	font-weight: 600;
	color: var(--accent);
	text-transform: uppercase;
	margin-bottom: 4px;
	display: flex;
	width: 100%;
	align-items: center;
}

.promoted-tag svg {
	width: 20px;
}
.post-description {
	color: var(--text);
	line-height: 1.2em;
	font-size: 16px;
}
.post-footer {
	padding: 8px 12px;
	border-bottom: 1px solid light-dark(#d4d4d4, #222);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.post-footer .post-time {
	font-size: 16px;
	color: light-dark(#4f4f4f, #bababa);
}

.icon-set {
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 8px 12px;
	border-bottom: 1px solid light-dark(#d4d4d4, #222);
	gap: 40px;
}

.icon-set .icons {
	display: flex;
	align-items: center;
	justify-content: start;
	transition: all ease-in 0.2s;
	border: none;
	padding: 0;
	background: none;
	font-family: inherit;
	font-size: 18px;
	color: var(--text);
}

.icon-set .icons:hover {
	cursor: pointer;
	opacity: 0.7;
}

.comment-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border: none;
	gap: 8px;
	height: fit-content;
	min-height: 36px;
	padding: 0;
	margin: 4px 0 8px 0;
	border-radius: 2px;
	background: light-dark(#e6e6e6, #242424);
}

.comment-section .post-avatar {
	width: 28px;
	height: 28px;
	font-size: 16px;
	margin: 0;
}

.comment-section .btn-primary {
	height: fit-content;
	padding: 0;
	background: none;
	color: var(--text);
}

.comment-section svg {
	width: 24px;
}

input {
	width: 90%;
	height: 36px;
	padding: 4px 0px 4px 4px;
	border: none;
	border-radius: 2px;
	font-size: 16px;
	transition: all 0.2s;
	background: none;
}

input:focus-visible {
	outline: none;
}

.comments-container {
	display: none;
}
.comment-section {
	display: none;
}
.comments-container.open {
	overflow-y: scroll;
	max-height: 250px;
	display: block;
}
.comment-section.open {
	display: flex;
	width: 100%;
	border: none;
	gap: 8px;
	height: fit-content;
	min-height: 36px;
	padding: 4px 8px;
	margin: 0;
	border-radius: 2px;
	background: light-dark(#e6e6e6, #242424);
}

.comments {
	display: flex;
	flex-direction: column;
	min-height: 150px;
	padding: 12px;
	align-items: start;
	justify-content: space-between;
	border-top: 1px solid light-dark(#d4d4d4, #222);
}

.comments .user-id-info {
	display: flex;
	width: 100%;
	align-items: center;
	/* justify-content: space-between; */
	gap: 12px;
}

.user-id-info .post-avatar {
	width: 28px;
	height: 28px;
	font-size: 20px;
}

.user-id-info .post-username {
	font-size: 16px;
}

.user-id-info .post-user-email {
	font-size: 12px;
}

.comment-p {
	width: 100%;
	padding: 4px 8px 6px 8px;
	border-radius: 2px;
	border-left: 1px solid var(--muted);
	background: light-dark(#e6e6e6, #242424);
}

.comments .icon-set {
	width: 100%;
	padding: 0;
	justify-content: space-between;
	border: none;
}

.comments .icon-set .icons,
.comments .icon-set .icons svg {
	fill: var(--text);
	color: var(--text);
}

.empty-state .btn-primary svg {
	width: 24px;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.post {
		flex-direction: column;
		padding: 20px;
		margin: 20px auto;
	}
	.post-info {
		max-width: 100%;
	}
	.post-image {
		justify-content: center;
	}
	.btn-secondary {
		margin-top: 10px;
	}
	.icon-set {
		gap: 0;
		justify-content: space-between;
	}
}

@media (max-width: 400px) {
	input {
		width: 80%;
	}
}
