main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

.card {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-width: 400px;
	padding: 20px;
	border: 1px solid var(--border);
	border-radius: 20px;
}

.card h2 {
	text-transform: uppercase;
}

.flash-message {
	display: none;
	align-items: center;
	justify-content: center;
	color: light-dark(#dc3545, #ffd2d2);
	text-align: center;
	padding: 8px;
	background: light-dark(#ffd2d2, #dc3545);
	border-radius: 20em;
}

.success {
	color: light-dark(#008b27, #003b0c);
	background: light-dark(#acffbc, #35dc64);
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 12px;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0px;
}

label {
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: var(--text);
	margin-bottom: 4px;
}

input {
	width: 100%;
	padding: 8px 16px;
	border: light-dark(#ddd, #222) 1px solid;
	border-radius: 12px;
	font-size: 16px;
	font-family: inherit;
	transition: all 0.2s;
	background: light-dark(#dbdbdb, #2a2a2a);
}

input:focus {
	outline: none;
	border-color: light-dark(#ddd, #222);
	background: light-dark(#dbdbdb, #2a2a2a);
}

small {
	margin: 4px 0 0 0;
	font-family: monospace;
	font-size: 12px;
}

.btn-primary {
	width: fit-content;
}

footer {
	text-align: center;
	padding: 16px;
	font-size: 0.85rem;
	color: var(--muted);
}
