body {
	background: var(--card);
}

.main-content,
.cart-summary,
.summary-card,
.cart-container {
	width: 100%;
}

.summary-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
	padding: 0;
}

.cart-header {
	display: flex;
	max-width: 800px;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.cart-items {
	border-bottom: 1px solid var(--border);
	border-top: 1px solid var(--border);
	gap: 0;
}

.cart-item {
	border: none;
	border-bottom: 1px solid var(--border);
}

.item-info {
	width: 100%;
	position: relative;
	padding: 8px 0;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.cart-item:last-child {
	border: none;
}

.detail-of-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
}

.item-image img {
	border-radius: 8px;
}

.item-details,
.item-quantity {
	padding: 0;
}

.item-artist {
	margin: 0 0 28px 0;
}

.item-price {
	font-size: 20px;
	line-height: 0.8;
}

.quantity-controls {
	margin: 0 0 10px 0;
}

.quantity-controls input {
	font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.right {
	border-radius: 0 8px 8px 0;
}

.left {
	border-radius: 8px 0 0 8px;
}

.right:hover {
	border-radius: 0 8px 8px 0;
}

.left:hover {
	border-radius: 8px 0 0 8px;
}

.total-price {
	font-size: 24px;
	font-weight: 600;
}

.btn-remove {
	width: 36px;
	height: 36px;
	padding: 0;
	border: none;
	border-radius: 0;
}

.summary-row.total {
	padding: 8px 0 0 0;
}

.checkout-actions {
	gap: 20px;
	justify-content: space-between;
	margin: 8px 0 0 0;
}

.checkout-btn {
	padding: 8px 16px;
}
